# Default is to keep crlf line endings
text=auto

LICENSE text eol=crlf
README.md text eol=crlf
*.diff text eof=crlf
*.doc text eof=crlf
*.pat text eof=crlf linguist-language=DIGITAL Command Language
*.txt text eof=crlf
*.tsk binary
*.jpeg binary
*.txt text eof=crlf
*.mac text eol=crlf linguist-language=Assembly
*.com text eol=crlf
*.obj binary
*.zip binary
*.pdf binary
*.dsk binary
*.dta binary
